{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {% render 'icon-caret' %}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <div class="mega-menu__wrapper page-width">
                  <ul
                    class="mega-menu__list {% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                    role="list"
                  >
                    {%- for childlink in link.links -%}
                      <li>
                        ➝
                        <a
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          href="{{ childlink.url }}"
                          class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                          data-image=""
                          {% if childlink.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {{ childlink.title | escape }}
                        </a>
                        {%- if childlink.links != blank -%}
                          <div class="wrapper__list-unstyled">
                            <h3>Title 1</h3>
                            <p>Sub-title 2</p>
                            <ul class="list-unstyled" role="list">
                              {%- for grandchildlink in childlink.links limit: 4 -%}
                                <li>
                                  <a
                                    id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                    href="{{ grandchildlink.url }}"
                                    class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                    data-image="{{ grandchildlink.object.image.src }}"
                                    {% if grandchildlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ grandchildlink.title | escape }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                            <h3>Title 2</h3>
                            <p>Sub-title 2</p>
                            <ul class="list-unstyled" role="list">
                              {%- for grandchildlink in childlink.links limit: 4 -%}
                                <li>
                                  <a
                                    id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                    href="{{ grandchildlink.url }}"
                                    class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                    data-image="{{ grandchildlink.object.image.src }}"
                                    {% if grandchildlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ grandchildlink.title | escape }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          </div>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                  <div class="mega-menu__wrapper-sub-link"></div>
                  <div class="mega-menu__link-inform"></div>
                </div>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>

<script>
  window.addEventListener('load', () => {
    document.querySelector('.mega-menu__wrapper').addEventListener('mouseenter', () => {
      megaMenuWrapperSubLink.style.opacity = 1;
      megaMenuWrapperSubLink.style.transition = 'all 0.5s';
    });
    document.querySelector('.mega-menu__wrapper').addEventListener('mouseleave', () => {
      megaMenuWrapperSubLink.style.opacity = 0.3;
      megaMenuWrapperSubLink.style.transition = 'all 0.5s';
    });

    let megaMenuWrapperSubLink = document.querySelector('.mega-menu__wrapper-sub-link');
    let megaMenuListLi = document.querySelectorAll('.mega-menu__list li');
    {% comment %} megaMenuWrapperSubLink.style.opacity = 0.3; {% endcomment %}
    {% comment %} megaMenuWrapperSubLink.style.height = '0px'; {% endcomment %}
    megaMenuListLi.forEach((item) => {
      item.addEventListener('mouseover', () => {
        megaMenuWrapperSubLink.innerHTML = '';
        {% comment %} megaMenuWrapperSubLink.style.opacity = 1; {% endcomment %}
        {% comment %} megaMenuWrapperSubLink.style.height = '300px'; {% endcomment %}
        {% comment %} megaMenuWrapperSubLink.style.transition = 'all 0.5s'; {% endcomment %}
        megaMenuWrapperSubLink.appendChild(item.querySelector('.wrapper__list-unstyled').cloneNode(true));

        let megaMenuLink = document.querySelectorAll('.mega-menu__wrapper-sub-link a');
        let megaMenuLinkInform = document.querySelector('.mega-menu__link-inform');
        megaMenuLink.forEach((item) => {
          item.addEventListener('mouseover', () => {
            if (item.dataset.image) {
              megaMenuLinkInform.innerHTML = `<img src='https://all-dev-theme.myshopify.com/cdn/shop/${item.dataset.image}' width=150>`;
            } else {
              megaMenuLinkInform.innerHTML = `<img src='https://cdn.shopify.com/s/files/1/0633/3225/3877/files/portfolio-layout-thumb1_af152011-4280-4ed1-9865-0bcca25d3ab6.jpg' width=150>`;
            }
          });
          item.addEventListener('mouseout', () => {
            megaMenuLinkInform.innerHTML = '';
          });
        });
      });
      item.addEventListener('mouseout', () => {
        {% comment %} megaMenuWrapperSubLink.style.opacity = 0.3; {% endcomment %}
        {% comment %} megaMenuWrapperSubLink.style.transition = 'all 0.5s'; {% endcomment %}
        {% comment %} megaMenuWrapperSubLink.style.style.height = '0px'; {% endcomment %}
      });
    });
  });
</script>
